body {
	font-family: 'Raleway', STFangsong, 华文仿宋, FangSong, 仿宋, sans-serif;
	margin: 0;
}

@media (max-width: 950px) {
	body {
		font-size: 8pt;
	}
}

@media (max-width: 750px) {
	body {
		font-size: 5pt;
	}
}

@keyframes fade {
	0% { color: black;  }
	20% { color: white; }
	80% { color: white; }
	100% { color: black; }
}

.header-adj {
	animation-name: fade;
	animation-duration: 4s;
}

#btn-language {
	height: 5em;
	width: 5em;
	border-radius: 5em;
	background: black;
	color: white;
	border: none;
	cursor: pointer;
	outline: 0;
	font-size: 1em;
	position: fixed;
}

#btn-language-container {
	height: 5em;
	width: 5em;
	margin: 1em 1em 0em 0em;
	right: 0;
	position: absolute;
}

button {
	z-index: 1;
}

.center-horiz {
	display: flex;
	justify-content: center;
}

.center-vert {
	display: flex;
	align-items: center;
}

video {
	width: 100%;
	height: auto;
	z-index: -1;
}

.big {
	height: 2000px;
}

#video-overlay {
	width: 100%;
	height: calc(56vw);
	display: flex;
	align-items: center;
	top: 0;
	background: none;
	position: absolute;
	font-size: 2.5em;
	text-align: center;
}

#title-container {
	width: 100%;
}

#top-container {
	display: flex;
	align-items: center;
}

h1, h3 {
	margin: 0;
	color: white;
	background: black;
	width: 100%;
}
