/* MEDIA QUERIES AND ANIMATIONS */
-webkit-animation:
@media (max-width: 950px) {
	body {
		font-size: 8pt;
	}
}

@media (max-width: 750px) {
	body {
		font-size: 5pt;
	}
}

@keyframes fade {
	0% { color: black;  }
	20% { color: white; }
	80% { color: white; }
	100% { color: black; }
}

@keyframes pulseOnce {
	0%, 100% { transform: scale(1); }
	50% { transform: scale(1.2); }
}

/* TAGS */
body {
	font-family: 'Raleway', STFangsong, 华文仿宋, FangSong, 仿宋, sans-serif;
	margin: 0;
}

button {
	z-index: 1;
}

h1, h3 {
	margin: 0;
	color: white;
	background: black;
	width: 100%;
}

/* CLASSES */
.header-adj {
	animation: fade 4s;
	-webkit-animation: fade 4s;
	-moz-animation: fade 4s;
	-o-animation: fade 4s;
}

.pulse {
	animation: pulseOnce 0.5s;
	-webkit-animation: pulseOnce 0.5s;
	-moz-animation: pulseOnce 0.5s;
	-o-animation: pulseOnce 0.5s;
}


.info-card {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center-horiz {
	display: flex;
	justify-content: center;
}

.center-vert {
	display: flex;
	align-items: center;
}


.big {
	height: 2000px;
}

/* IDS */
#btn-language {
	height: 5em;
	width: 5em;
	border-radius: 5em;
	background: rgba(150,0,0,0.8);
	color: white;
	border: none;
	cursor: pointer;
	outline: 0;
	font-size: 1em;
	position: fixed;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
}

#btn-language:hover {
	background: rgba(0,0,120,0.8);
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
}

#btn-language-container {
	height: 5em;
	width: 5em;
	margin: 1em 1em 0em 0em;
	right: 0;
	position: absolute;
}

#pic-overlay {
	width: 100%;
	height: calc(56vw);
	display: flex;
	align-items: center;
	top: 0;
	background: none;
	font-size: 2.5em;
	text-align: center;

	background-image: url("media/yangshuo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 6s ease;
	-webkit-transition: all 6s ease;
	-moz-transition: all 6s ease;
	-o-transition: all 6s ease;
	-ms-transition: all 6s ease;
}

#pic-overlay:hover {
	transform: scale(1.1);
}

#title-container {
	width: 100%;
}
 