
/* CLASSES */
.info-card {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin: 0;
	padding:0;
	height: 65vh;
}

.big {
	height: 2000px;
}

.txt-intro {
	margin: .5em 0 .5em 0;

	&.name {
		font-size: 3em;
	}


}

.intro-container {
	width: 70vw;
	height: 100%
}

.card-container {
	padding: 1em;
}

.card-title {	
	.subtitle {
		text-align: center;
		display: block;
		width: 100%;
	}

	h3 {
		font-size: 2em;
		margin: 0;
	}

	h5 {
		font-size: 1.2em;
		margin: 0;
	}
}

.link-container {
	
	text-align: center;
	
	a {
		color: pink;
		text-decoration: none;
	}
}

