/* TAGS */
@import 'variables';

body {
	font-family: $font-stack;
	margin: 0;
	background: black;
	color: white;
}

button {
	z-index: 1;
}

/* CLASSES */

.center-horiz {
	display: flex;
	justify-content: center;
}

.center-vert {
	display: flex;
	align-items: center;
}

.txt-center {
	text-align: center;
}




/* FOR SPACING */
.big {
	height: 10000px;
}

.spacer {
	height: 50vh;
}