/* TAGS */
@import 'variables';

@media (max-width: 950px) {
	body {
		font-size: 8pt !important;
	}
}

@media (max-width: 450px) {
	body {
		font-size: 6pt !important;
	}
}

body {
	font-family: $font-stack;
	margin: 0;
	background: black;
	color: white;
}

button {
	z-index: 1;
}

/* CLASSES */

.center-horiz {
	display: flex;
	justify-content: center;
}

.center-vert {
	display: flex;
	align-items: center;
}

.txt-center {
	text-align: center;
}




/* FOR SPACING */

.spacer {
	height: 35vh;

	@media (max-width: 750px) {
		height: 10vh;
	}
}