.modal-container {
	width: 100vw;
	height: 100vh;
	display: none;
	position: fixed;
	top: 0;
	left: 0; 
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);
	
	&.showing {
		display: flex;
		z-index: 3;
	}
}

.img-jumbo {
	max-width: 70%;

	@media (max-width: 640px) {
		max-width: 90%;
	}
}

.img-thumbnail {
	width: 60%;
	margin: 0 auto;
	display: block;

	&:hover {
		cursor: pointer;
	}
}


.aspect {
	position: relative;
	height: 0;
	width: 60%;
	padding-top: 33.75%; // what is this sorcery? padding set relative to WIDTH
	overflow: hidden;
	display: block;

	margin-left: 20%; // % of WIDTH of CONTAINER, so centers item
	margin-right: 20%;
	
	.img-thumbnail {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		top: 0;

	}

}