/* CLASSES */

.project-name-txt {
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	background-color: white;
	font-size: 1.5em;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&.selected {
		background-color: #59db50;
		border-bottom: green solid .2em;
	}
}

