@mixin transition-all-ease($time) {
	transition: all $time ease;
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
	-o-transition: all $time ease;
	-ms-transition: all $time ease;
}

@mixin transition-background($time) {
	transition: background $time;
	-webkit-transition: background $time;
	-moz-transition: background $time;
	-o-transition: background $time;
	-ms-transition: background $time;
}

$font-stack: 'Raleway', STFangsong, 华文仿宋, FangSong, 仿宋, sans-serif;

$github-purple: #6a166a;